.line {
    margin-bottom: 10%;
    line-height: 0;

    svg {
        width: 100%;
        aspect-ratio: 10/1;
    }

    svg rect {
        fill: black;
    }

    &.change-line {
        svg {
            rect {
                fill: #FFD700;
            }
        }
    }
}