<mat-toolbar color="primary">
  <span class="site-title" routerLink="">Book of Changes</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="navMenu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #navMenu="matMenu">
    <button mat-menu-item routerLink="new-reading">Get a Reading</button>
    <button mat-menu-item routerLink="all-hexagrams">Explore Hexagrams</button>
  </mat-menu>
</mat-toolbar>

<div class="page-content">
  <router-outlet></router-outlet>
</div>