.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

mat-toolbar {
    width: 100%;

    .example-spacer {
        width: 100%;
    }

    .site-title {
        cursor: pointer;
    }
}