<h1>Book of Changes</h1>

<div class="question-form-container">
  <label for="question">Enter your question:</label>
  <input type="text" id="question" name="question">
  <button (click)="requestReading()">Request a Reading</button>
</div>
<div *ngIf="reading$ | async as reading">
  <div *ngIf="reading.primaryHexagram as primaryHexagram" class="primary-hexagram-container">

    <div class="lines-container">
      <h2 *ngFor="let line of primaryHexagram.lines | reverse">{{renderLine(line)}}</h2>
    </div>
    <div class="explanations-container">
      <h2>{{primaryHexagram.hexagramNumber}}: {{primaryHexagram.englishName}}</h2>
      <h2>{{primaryHexagram.hexagramExplanation}}</h2>
      <div *ngFor="let line of primaryHexagram.lines">
        <h2 *ngIf="line.changeLine">Line {{line.lineNumber}}: {{line.explanation}}</h2>
      </div>
      <div class="change-container" *ngIf="reading.changedHexagram as changedHexagram">
        <h2>Resolves to: </h2>
        <h2>{{changedHexagram.hexagramNumber}}: {{changedHexagram.englishName}}</h2>
        <h2>{{changedHexagram.hexagramExplanation}}</h2>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>